<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.javascouts.ftcanalysis">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/java_scouting_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/java_scouting_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity
            android:name=".MainActivity"
            android:launchMode="singleInstance">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ScoutTeamActivity"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.javascouts.ftcanalysis.MainActivity" />
        </activity>
        <activity
            android:name=".TeamDetailsActivity"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.javascouts.ftcanalysis.MainActivity" />
        </activity>
        <activity
            android:name=".EditTeamActivity"
            android:parentActivityName=".TeamDetailsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.javascouts.ftcanalysis.MainActivity" />
        </activity>
        <activity
            android:name=".MatchAnalyseActivity"
            android:launchMode="singleInstance" />
        <activity
            android:name=".FirstRunActivity"
            android:label="@string/title_activity_first_run"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.javascouts.ftcanalysis.MainActivity" />
        </activity>
        <activity android:name=".NewMatchActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.javascouts.ftcanalysis.MatchAnalyseActivity" />
        </activity>
        <activity android:name=".MatchDetailsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MatchAnalyseActivity" />
        </activity>
        <activity android:name=".AboutActivity">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity"/>

        </activity>
    </application>

</manifest>